@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    background-color: #050505;
    /* background-image: url('../src/assets/docs-left.png'), url('../src/assets/docs-right.png'); */
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

.full-width {
    max-width: 110rem;
    width: 100%;
}

.bg-black {
    background-color:#050505;
}

.main-content {
    position: relative;
    z-index: 1;
}